{{ define "app" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OTI</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      href="/public/style.css"
      rel="stylesheet"
    />
  </head>
  <div id="rootID"></div>
<body>
    <script src="/public/index.js" type="module"></script>
</body>
</html>
{{ end }}
