{{ define "page_login" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UNAMAD OTI</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="/public/dist/output.css" rel="stylesheet">
  </head>

  <body class="relative h-screen flex items-center justify-center bg-rose-100">
  <form id="sendValue" method="post" class="bg-white py-5 px-8 border-t-4 border-rose-600 rounded-md shadow-lg" action="/login">
    <h2 class="text-3xl text-gray-400 mb-3">Login</h2>
    <div class="mb-2">
      <label class="text-sm">Usuario</label>
      <input type="text" name="username" class="w-full p-2 mt-1 bg-gray-200 rounded-md focus:outline-none" placeholder="Usuario">
    </div>
    <div class="mt-2 mb-3">
      <label class="text-sm">Contrasena</label>
      <input type="password"  name="password" class="w-full p-2 mt-1 bg-gray-200 rounded-md focus:outline-none" placeholder="Contrasena">
    </div>
    <button type="submit" class="border-none bg-rose-600 py-2 px-3 text-white roudend-sm w-full mt-2 rounded-md hover:bg-rose-500 mb-5">
      Ingresar
    </button>
  </form>
  <div id="loader" class="hidden absolute w-full bg-gray-800 bg-opacity-50 h-screen flex justify-center items-center">
    <div class="loader bg-white p-5 rounded-full flex space-x-3">
      <div class="w-5 h-5 bg-gray-800 rounded-full animate-bounce"></div>
      <div class="w-5 h-5 bg-gray-800 rounded-full animate-bounce"></div>
      <div class="w-5 h-5 bg-gray-800 rounded-full animate-bounce"></div>
    </div>
  </div>

    <script>
      sendValue.addEventListener('submit',()=>{
        document.querySelector("#loader").classList.toggle('hidden')
      })
    </script>
  </body>
</html> 
{{ end }}
