[Unit]
Description=goweb http server
ConditionPathExists=/home/ec2-user/apps/inventory-oti
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/home/ec2-user/apps/inventory-oti
#NOTE: MAIN IS THE NAME OF THE BINARY APPLICATION
#change variable to production app
Environment=PORT=80
Environment=HOST_DB="18.219.214.89"
Environment=PORT_DB=5432
Environment=USER_DB="postgres"
Environment=PASSWORD_DB="luis"
ExecStart=/home/ec2-user/apps/inventory-oti/main

#ExecStartPre=/bin/chmod 775 /home/ec2-user/apps/inventory-oti/main

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
